
.forum {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
  @media screen and (max-width: 400px) {
    max-width: 375px;
  }
  &__cards {
    margin-left: -5;
    margin-right: -5;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style-type: none;
  }
  &__card {
    border-bottom: 1px solid #a0a0a0;
  }
  &__card:last-child {
    border-bottom: none;
  }
  &__content {
    display: flex;
    padding: 7px;
    flex-direction: row;

  }
  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    @media screen and (max-width: 400px) {
      width: 40px;
      height: 40px;
    }
  }
  &__contentInfo {
    margin-left: 30px;
    text-align: left;
    
    @media screen and (max-width: 400px) {
      margin-left: 15px;
    }
  }
  &__title {
    font-size: 1.12rem;
    font-weight: bold;

    @media screen and (max-width: 400px) {
      font-size: 0.9rem;
      white-space: nowrap;
      width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__authorAndTime {
    font-size: small;
    color: #a0a0a0;
    @media screen and (max-width: 400px) {
      font-size: x-small;
    }
  }
  &__postContent {
    @media screen and (max-width: 400px) {
      font-size: 0.9rem;
      white-space: nowrap;
      width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__comments{
    margin-left: auto;
    text-align: left;
    min-width: 30px;
    @media screen and (max-width: 400px) {
      font-size: x-small;
      align-self: flex-end;
      
    }
  }
  &__commentIcon{
    width: 20px;
    height: 20px;
  }
  &__loginButton &__createThread {
    padding-bottom: 20px;
  }
  &__loginButton a {
    text-decoration: none;
    color: black;
  }
  &__loginButton {
    
    margin-bottom: 20px;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 0.375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
      Arial, sans-serif;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(0.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    
  }

  &__loginButton:active {
    border-color: #4a4a4a;
    outline: 0;
  }

  &__loginButton:focus {
    border-color: #485fc7;
    outline: 0;
  }

  &__loginButton:hover {
    border-color: #b5b5b5;
  }

  &__loginButton:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
  }

  &__createThreadButton {
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
      rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292e;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  &__createThreadButton a {
    text-decoration: none;
    color: black;
  }
  &__createThreadButton:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
  }

  &__createThreadButton:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
  }

  &__createThreadButton:active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }

  &__createThreadButton:focus {
    outline: 1px transparent;
  }

  &__createThreadButton:before {
    display: none;
  }

  &__createThreadButton:-webkit-details-marker {
    display: none;
  }
}
