.game-detail {
  text-align: left;
}

.description {
  line-height: 2;
}

.game-detail-button {
  background-color: #654aeb;
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  border: none;
  font-size: 18px;
  /* margin-left: 1rem; */
}

.game-detail-button:hover {
  background-color: #5383ec;
}

.game{
  margin-top: 2rem;
}