
.navbar {
  position: sticky !important; 
  top: 0; 
  background-color: #251d52;
  height: 90px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0 15px !important;
  z-index: 99;
}

.navbar__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  align-items: center;
}

.navbar__logo img {
  width: 90px;
  transform: scale(1.5, 1.5);
}

.navbar__menuItems {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.navbar__menuItems li {
  padding-right: 20px;
  font-family: "Roboto", sans-serif;;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
  transition: text-shadow 0.3s;
}

@media screen and (max-width: 480px) {
  .navbar__hamburger{
    display: block !important;
  }
  .navbar__menuItems{
    display: none ;
    flex-direction: column ;
    background-color: #251d52;  
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 155%;
  }

  .navbar__menu__open{
    display: flex;
    padding-bottom: 50px;
  }

   .navbar__menuItems li {
    margin: 8px 0; 
  }
}
