
.profile-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.profile-container {
  display: flex;
  margin-left: 40px;

  
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  max-height: 37rem;
  max-width: 25%;
  margin-right: 40px;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.profile-bio{
  margin: 10px;
}
.profile-location{
  margin: 10px;
}
.profile-email{
  margin: 10px;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  margin-bottom: 10px;
  align-self: center;
}

.profile-button{
  margin:10px;
}

.profile-tradeGameScore{
margin: 10px;
}

.profile-resetPassword{
margin-right: 5px;
color: #2C2C2C;
}
.profile-resetPassword:hover{
  color: #5C5C5C
}
.profile-updateprofile{
  margin-right: 5px;
  color: #2C2C2C;
}
.profile-updateprofile:hover{
  color: #5C5C5C;
}
.profile-tradeRecords{
  margin-right: 5px;
  color: #2C2C2C;
}
.profile-tradeRecords:hover{
  color: #5C5C5C;
}
.profile-addGame{
  color: #2C2C2C;
}
.profile-addGame:hover{
  color: #5C5C5C;
}
@media (max-width: 400px) {
  .profile-container {
    /* flex-direction: row; */
    display: block;
  }

  .user-profile {
    margin-bottom: 20px;
    max-width: 95%;
  }
  
}
