.usercard {
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  background-size: 85%;
  min-height: 250px;
  width: 220px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
 
}
.usercard:hover {
  box-shadow: 0 4px 8px 0 rgba(48, 74, 222, 0.5),
    0 6px 20px 0 rgba(48, 74, 222, 0.5);
    cursor: pointer;

}


.userTitle {
  color: black;
  font-size: 20px;
}


#dropdown-userLocation {
  width: 15rem;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  font-size: 18px;
}

#userrow {
  margin-top: 1%;
  animation-duration: 1.8s;
  animation-name: fadeInBottom;
  margin: 0 60px;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 20px;
  }

  #userrow {
    margin: 0;
  }

 .usercard{
  width: 250px;
  height: 400px;
  background-size: 75%;
  margin-left: 46px;
 }
}
