.userPage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
}

.userGames {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#usergameImage {
  /* margin-top: 4rem; */
  width: 200px;
  height: 250px;
  margin: 10px;
}

.gameCard {
  margin: 1rem;
  box-shadow: 8px 0px 10px rgba(48, 74, 222, 0.5);
  width: 16rem;
}

.user-cards {
  width: 27rem;
  box-shadow: 8px 0px 10px rgba(128, 36, 226, 0.5);
}

.user-button {
  background-color: #654aeb;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border: none;
  font-size: 1.1rem;
  margin-top: 9px;
  background-size: 200% auto;
  display: block;
  text-align: center;
  margin-left: 8.3rem;
}

.user-button:hover {
  background-color: #5383ec;
  color: #fff;
}

@media (max-width: 1024px) {
  .userGames {
    grid-template-columns: repeat(2, 1fr);
  }

  .gameCard {
    width: 15rem;
  }
}
@media (max-width: 986px) {
  .userGames {
    grid-template-columns: repeat(1, 1fr);
  }
  .gameCard {
    width: 15rem;
  }
}

@media (max-width: 896px) {
  .user-cards {
    width: 17rem !important;
  }

  .userGames {
    grid-template-columns: repeat(1, 1fr);
  }
  #usergameImage {
    width: 10rem;
    height: 15rem;
  }
  .gameCard {
    width: 14rem;
  }
}

@media (max-width: 768px) {
  .user-cards {
    width: 20rem !important;
  }

  .userGames {
    grid-column: 1fr;
  }
}

@media (max-width: 540px) {
  .user-cards {
    width: 17rem;
  }

  .userGames {
    grid-column: 1;
  }

  .gameCard {
    width: 11.5rem;
  }
}

@media (max-width: 412px) {
  .user-cards {
    width: 20rem;
  }

  .userGames {
    display: grid;
    grid-column: 1;
  }
}

@media (max-width: 390px) {
  .userPage {
    grid-template-columns: 1fr;
  }
  .userGames {
    display: grid;
    grid-template-columns: 1fr;
  }
  .user-cards {
    width: 20rem;
  }
}
