.updateprofile-form{
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}
.updateprofile-container {
  margin: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  /* border: 1px solid black; */
}
.updateprofile-innerContainer {
  margin: 10px;
}
.updateproflie-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.updateprofile-col {
  flex-basis: 48%;
}

.updateprofile-col-full {
  flex-basis: 100%;
}
.updateprofile-username {
  border: 1px solid black;
  border-radius: 5px;
  height: 37px;
  width: 100%;
}
.updateprofile-facebook {
  border: 1px solid black;
  border-radius: 5px;
  height: 37px;
  width: 100%;
}
.updateprofile-location {
  border-radius: 5px;
  height: 37px;
  width: 100%;
  height: 37px;
  width: 100%;
}
.updateprofile-avatar{
  border-radius: 5px;
  height: 37px;
  width: 100%;
  height: 37px;
}
.updateprofile-instagram {
  border: 1px solid black;
  border-radius: 5px;
  height: 37px;
  width: 100%;
}
.updateprofile-avatar{
  border: 1px solid black;
  border-radius: 5px;
  height: 37px;
}
.updateprofile-twitch{
  border: 1px solid black;
  border-radius: 5px;
  height: 37px;
  width: 100%;
}

.updateprofile-label {
  font-weight: bold;
}

.updateprofile-userbio{
  width: 100%;
}

.userprofile-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.userprofile-submit:hover {
  
  background-color: #477EE4;
  
}
@media (max-width: 400px) {
  .updateproflie-row {
    display: inline;
  }
  .updateprofile-col {
    margin-bottom: 15px;
  }
}
