.tradingBox {
    display: flex;
    &__offerer {
        margin-right:50px ;
    }
   
    &__img{
        width:100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__offererUser a{
        text-decoration: none;
    
    }
    
    &__receiverUser a{
        text-decoration: none;
    }
   

}

.complete-button {
    margin-top: 10px;
}


