.biocard {
  margin: 0 auto;
  max-Width: 300px;
  margin-bottom: 30px;
}

.about-font {
  font-family: 'Press Start 2P';
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#about-img {
  margin-top: 1rem;
  width: 16rem;
  margin-left: 1.5rem;
}

