.gameswitchdescription {
  margin-left: 3rem;
  margin-top: 2%;
  margin-right: 3rem;
  min-height: 100vh;
}

.instructionCard {
  text-align: left;
}

.titleDes {
  font-family: 'Press Start 2P';
}

.tradepic {
  margin-right: 100rem;
  width: 20rem;
}

.accordion {
 
  margin: 20px;
  height:100vh;
}

.accordion-body {
  text-align: left;
}
