.gameswitchdescription {
  margin-left: 3rem;
  margin-top: 2%;
  margin-right: 3rem;
}

.instructionCard {
  text-align: left;
}

.titleDes{
    font-family: 'Press Start 2P';
}

.tradepic{
  margin-right: 100rem;
  width: 20rem;
}