.home-title {
  font-size: 40px;
  color: rgb(43, 26, 222);
  background-image: linear-gradient(60deg, #aa23e9, #45adf7);
  background-clip: text;
  color: transparent;
  font-family: 'Press Start 2P';
  margin-top: 2%;
}

.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-family: 'Press Start 2p';
  font-size: 22pt;
}
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.video-game {
  margin-top: 2rem;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
 
  position: absolute;
  top: 10rem;
  right: 32rem;
  transform: perspective(600px) translate3d(3.9307px, 0px, 0px);
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.circle {
  margin-top: 2rem;
  position: relative;
  height: 25rem;
  width: 25rem;

  border-radius: 50%;
  margin-left: 29rem;
  background: linear-gradient(90deg, #e352c6, #8619f5);
}

.hand-img{
  position:absolute;
  top: 3rem;
  left: 28rem;
}